
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    grid-row: row;
    align-items: center;
    text-align: center;
    
}


h1{
    background-color: cornflowerblue;
    text-align: center;
    width: 100%;
    color: white;
}

h3{
    color: cornflowerblue;
   
}

.lista ul li{
    
    list-style-type: circle;
}

thead tr th{
    border: white solid 1px;
    text-align: center;
    background-color: cornflowerblue;
    
}

.calendario2 tr:nth-child(odd){
    background-color: rgb(177, 199, 241);
    border: white solid 1px;
  }

.calendario2 tr:nth-child(even){
  background-color: rgb(122, 188, 241);
  border: white solid 1px;
}


.libreta{
    font-weight: bold;
    
}

.boligrafo{
    font-weight: bold;
}
